/**/.DS_Store
/CodexNaturalis/target/

/CodexNaturalis/.classpath
/CodexNaturalis/.project
/CodexNaturalis/.settings/org.eclipse.core.resources.prefs
/CodexNaturalis/.settings/org.eclipse.jdt.apt.core.prefs
/CodexNaturalis/.settings/org.eclipse.jdt.core.prefs
/CodexNaturalis/.settings/org.eclipse.m2e.core.prefs
