/* styles.css */

.button {
    -fx-background-color: #d4c7a3;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10px;
    -fx-font-family: Trattatello;
    -fx-font-size: 30px;
    -fx-text-fill: #432918;
    -fx-border-color: #6e4c1e;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #e5d8b7;
}

.button:pressed {
    -fx-background-color: #b89c6c;
    -fx-translate-y: 2px;
}

.button-close {
    -fx-background-color: #d9534f;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
    -fx-border-color: #b52b27;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.button-close:hover {
    -fx-background-color: #e57373;
}

.button-close:pressed {
    -fx-background-color: #c62828;
    -fx-translate-y: 2px;
}

.button-send {
    -fx-background-color: #5cb85c;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
    -fx-border-color: #4cae4c;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.button-send:hover {
    -fx-background-color: #5cd65c;
}

.button-send:pressed {
    -fx-background-color: #4cae4c;
    -fx-translate-y: 2px;
}


.choice-box {
    -fx-background-color: #d4c7a3;
    -fx-background-radius: 10px;
    -fx-border-color: #6e4c1e;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-text-fill: #432918;
    -fx-padding: 5px;
}

.choice-box:hover {
    -fx-background-color: #e5d8b7;
}

.choice-box:pressed {
    -fx-background-color: #b89c6c;
}

.choice-box .arrow {
    -fx-background-color: #6e4c1e;
    -fx-padding: 5px;
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
}

.choice-box .context-menu {
    -fx-background-color: #d4c7a3;
}

.choice-box .menu-item > .label{
    -fx-font-family: Trattatello;
    -fx-font-size: 20px;
    -fx-text-fill: #432918;
}

.choice-box > .label {
    -fx-font-family: Trattatello;
    -fx-font-size: 20px;
    -fx-text-fill: #432918;
}

.choice-box .menu-item:focused {
    -fx-background-color: #e5d8b7;
}

.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-translate-y: -10;
}

.card:pressed {
    -fx-border-color: #b89c6c;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 15, 0, 0, 0);
    -fx-translate-y: -15;
}

.text-input {
    -fx-background-color: #d4c7a3;
    -fx-background-radius: 10px;
    -fx-border-color: #6e4c1e;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-text-fill: #432918;
    -fx-prompt-text-fill: #a09484;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.text-input:hover {
    -fx-background-color: #e5d8b7;
}

.text-input:focused {
    -fx-background-color: #e5d8b7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.tab {
    -fx-border-color: #6e4c1e;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: #efedd6;
    -fx-background-radius: 10px;
}

/* Stile base per il radio button */
.radio-button .radio {
    -fx-background-color: #eae0c8;
    -fx-border-color: #6e4c1e;
    -fx-border-width: 3px;
    -fx-border-radius: 50%;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

/* Effetto hover per il radio button */
.radio-button:hover .radio {
    -fx-background-color: #f0e5d3;
    -fx-border-color: #b89c6c;
}

.radio-button:hover .radio > .dot {
    -fx-background-color: #f0e5d3;
    -fx-border-color: #b89c6c;
}

.radio-button:pressed {
    -fx-translate-y: 2px;
}
/* Stile per il cerchio interno quando selezionato */
.radio-button:selected .radio > .dot {
    -fx-background-color: #6e4c1e;
}

/* Stile per il cerchio interno */
.radio-button .radio > .dot {
    -fx-background-color: transparent;
    -fx-border-color: #6e4c1e;
    -fx-border-width: 3px;
    -fx-border-radius: 50%;
    -fx-padding: 10px;
}